body {
    font-family: "Roboto";
    font-weight: 600;
    background-color: #d1cccc;
}
h1{
    text-align: center;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: 1;
}
.container{
    padding-left: 50%;
}
.navbar-brand {
    font-family: "Ubuntu";
    color: #000000;
    font-size: 2.6rem;
}
.brand{
    size: 1ch;
}
.nav-link{
    color: #00337C;
}
.nav-link:hover{
    color: #000000;
}
.nav-item {
    padding: 0 18px;
}

h1 {
    font-family: "Montserrat";
    font-size: 4rem;
    line-height: 1.5;
}
/* .container-fluid {
    padding-left: 0;
    padding-right: 0;
} */

.download-btn {
    margin: 5% 3% 5% 0;
}

.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 22.5%;
}

#features {
    padding: 0% 12%;
    background-color: #FFFFE8;
    position: relative;
}

.feature-box {
    text-align: center;
}

h3 {
    font-family: "Merriweather";
}

p {
    color: #5f5c5c;
}

.icon {
    color: #A555EC;
    margin-bottom: 1rem;
    transition: transform .2s;
    cursor: pointer;
}

.icon:hover {
    color: #6c20af;
    transform: scale(1.3);
}

#testimonials {
    background-color: #FFFFE8;
    padding-bottom: 0;
    color: white;
    text-align: center;
}

.testimonials-img {
    width: 15%;
    margin: 40px;
    border: solid;
    border-color: #ba7bed;
    border-width: 0.5rem;
    border-radius: 100%;
}

#testimonials-head {
    font-family: Montserrat;
    font-size: 3rem;
    line-height: 1.5;
}

#press {
    background-color: #FFFFE8;
    text-align: center;
}

.press {
    width: 18rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.carousel-item {
    padding: 7% 15%;
}

#Pricing {
    text-align: center;
    padding: 7% 15%;
}

.pricing-column {
    padding: 3% 2%;
}

.pricing-btn-d {
    background-color: #713333;
    border-color: #7432ad;
}

.pricing-btn-d:hover {
    background-color: #633232;
    border-color: #4e1085;
}

.pricing-btn:hover {
    background-color: #632626;
    border-color: #4e1085;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 1.5%;
}

#download {
    background-color: #FFFFE8;
    padding: 7% 15%;
    text-align: center;
}

.download-heading {
    font-family: Montserrat;
    color: white;
    font-size: 4rem;

}

#about-us {
    padding: 7% 15%;
}

.about-img {
    width: 60%;
    border: solid;
    border-color: #ba7bed;
    border-radius: 100%;
    border-width: 0.8rem;
}

.follow-us {
    margin-top: 3.5rem;
    text-align: center;
}

.follow-icon {
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: transform .2s;
}

.follow-icon:hover {
    color: #4e1085;
    transform: scale(1.7);
}

#contact {
    padding: 7% 15%;
    background-color: #FFFFE8;
    color: white;
    padding-bottom: 2%;
}

.contact-icon {
    background-color: #FFFFE8;
    padding: 1rem;
    border-radius: 100%;
}

.reach-box {
    display: flex;
    margin-top: 2rem;
}

.reach-box-l {
    margin-right: 2rem;
}

.contact-right {
    background-color: #FFFFE8;
    padding: 3%;
}

input,
textarea {
    color: white;
    background-color: #FFFFE8;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    resize: none;
}
input[type="submit"]{
    border: none;
    width: 20%;
    padding: 1%;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    background-color:#FFFFE8;
    transition: transform 0.3s;

}
input[type="submit"]:hover{
    color: #FFFFE8;
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    transform: scale(1.1);
    font-weight: 600;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.inputbox {
    position: relative;
    margin-top: 40px;
    width: 100%;
}
.inputbox span{
    position: absolute;
    left: 0;
    transition: 0.5s;
    color: rgb(213, 213, 213);
    pointer-events: none;
}

input:focus~span,
textarea:focus~span,
input:valid~span,
textarea:valid~span{
    color: rgb(255, 57, 57);
    font-size: 15px;
    transform: translateY(-20px);
}
#footer {
    background-color: white;
    padding: 1%;
    text-align: center;
}

@media (max-width:992px) {
    .title-img {
        transform: rotate(0deg);
        position: static;
        width: 50%;
    }

    .testimonials-img {
        width: 20%;
        margin: 40px;
        border: solid;
        border-color: #ba7bed;
        border-width: 0.2rem;
        border-radius: 100%;
    }

    #title {
        text-align: center;
    }

    .download-heading {
        font-size: 3rem;
        padding: 3%;
    }

    #about-us {
        text-align: center;
    }

    .about-img {
        width: 40%;
        border-width: 0.5rem;
    }
    .contact-left{
        margin-top: 1rem;
    }
    .contact-right{
        padding: 10%;
        margin-top: 3rem;
    }
    input[type="submit"]{
        width: 24%;
        font-size: 1.1rem;
        padding: 3%;
    }

    input[type="submit"]:hover{
        width: 26%;
        transform: scale(1.08);
    }

    
}